<!-- <div class="sharing">                                                                                                                                                                                -->
<!--   {% if site.twitter_tweet_button %}                                                                                                                                                                 -->
<!--   <a href="//twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}{{ page.url }}" >Tweet</a>      -->
<!--   {% endif %}                                                                                                                                                                                        -->
<!--   {% if site.google_plus_one %}                                                                                                                                                                      -->
<!--   <div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>                                                                                                                          -->
<!--   {% endif %}                                                                                                                                                                                        -->
<!--   {% if site.facebook_like %}                                                                                                                                                                        -->
<!--     <div class="fb-like" data-send="true" data-width="450" data-show-faces="false"></div>                                                                                                            -->
<!--   {% endif %}                                                                                                                                                                                        -->
<!-- </div>                                                                                                                                                                                               -->

<footer class=sharing>
	<p>
		<b>Compártelo:</b> 
			<a href="https://twitter.com/share" class="btn btn-social btn-twitter" data-url="{{ site.url }}{{ page.url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}{{ page.url }}"><i class=icon-twitter></i> Twitter</a> 
			<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="btn btn-social btn-facebook" ><i class=icon-facebook></i> Facebook</a> 
			<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="btn btn-social btn-google"><i class=icon-google></i> Google+</a>
	</p>
</footer>