<footer class="section section-dark">
	<div class=container>
		
		<div class=row>
			<div class="col col-half footer-area footer-area-left">
				<ul class=nav-inline>
					<li><a href="{{ root_url }}/">Blog</a></li>
					<li><a href="{{ root_url }}/blog/archives">Archivos</a></li>
					<li><a href="{{ root_url }}/about">Sobre mí</a></li>
					<li><a href="http://www.leveluplunch.com/styleguide/" target="_blank">Style Guide</a></li>
				</ul>
			</div>
		</div>
		
		<div class=row>
			<div class="col col-half footer-area footer-area-left">
				<p style="color:#000000;">
					Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
					<span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
				</p>
			</div>
			<div class="col col-half footer-area footer-area-right">
				<a href=https://twitter.com/ropherpanama class=social-link title=Twitter><span class=sr-only>Twitter</span> <i class=icon-twitter-white></i></a> 
				<a href=https://www.facebook.com/RosendoRopher class=social-link title=Facebook><span class=sr-only>Facebook</span> <i class=icon-facebook-white></i></a> 
				<a href=https://google.com/+RosendoRopher rel=publisher class=social-link title=Google+><span class=sr-only>google+</span> <i class=icon-google-white></i></a> 
				<a href=https://github.com/ropherpanama class=social-link title=GitHub><span class=sr-only>GitHub</span> <i class=icon-github></i></a> 
				<a href=http://www.youtube.com/user/RosendoRopher class=social-link title=YouTube><span class=sr-only>YouTube</span> <i class=icon-youtube></i></a>
			</div>
		</div>
	</div>
</footer>