<!--<hgroup>                                                      -->
<!--  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>     -->
<!--  {% if site.subtitle %}                                      -->
<!--    <h2>{{ site.subtitle }}</h2>                              -->
<!--  {% endif %}                                                 -->
<!--</hgroup>                                                     -->

<hgroup>
<header class="section section-primary section-header">
	<!--<header class="logo">
		<img src="http://leveluplunch.com/images/leveluplunch.svg" alt="Level Up Lunch">
		<h2 class="logo-slogan">learn. code. eat.</h2>
	</header> -->
 
	<div class="container">
		<h1 class="title">{{ site.title }}</h1>
		<div class="subtitle">{{ site.subtitle }}</div>
	</div>
</header>
</hgroup>